body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

button{
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 0.6fr 1fr 0.9fr 1.2fr 1.1fr 1.5fr 1.5fr;
    height: 5000px;
    gap: 0rem;
}

.item{
    grid-column: span 12;
    /* border: black solid 2px; */
}

.first{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    min-height: 500px;
}

/* .firstImg{
    height: 100%;
    min-height: 500px;
    object-fit: cover;
    width: 100%;
    position: absolute;
    z-index: -1;
} */

.first>div{
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 7rem;

}

.first>div>h1{
    color: white;
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    margin: 1rem 0 0 0;
}

.first>div>h6{
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 30px;
    margin: 1rem 0 0 0;
}

.first-button{
    margin: 1rem 0 0 0;
    background-color: #fff100;
    width: 14.5rem;
    height: 3.5rem;
    border-style: none;
    border-radius: 3px;
    text-align: center; 
}

.first-button>a{
    text-decoration: none;
    color: #0094d9;
    font-weight: 600;
    font-size: 1rem;
}

.second{
    background-color: #fff100;
    display: flex;
    justify-content: space-around;
}

.contactUs{
    width: 20%;
    margin-top: 2rem;
    align-self: center;
}

.contactUs>h1{
    color: #0094d9;
}

.contactUs>p{
    color: #58595b;
    font-weight: 500;
    line-height: 25px;
}

.formBox{
    width: 60%;
    margin: 4rem 0 4rem 0;
    background-color: white;
    border-radius: 5px;
    max-width: 1000px;
}

.form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1.5rem 2rem;
    padding: 2rem;
}

.formElements{
    grid-column: span 2;
}

.formElements>input, .formElement>input{
    width: 100%;
    height: 2.5rem;
    border: grey solid 0.5px;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}
.formElements>select{
    width: 102%;
    height: 2.7rem;
    border: grey solid 0.5px;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.formElements>label, .formElement>label{
    color: grey;
}

.formElement{
    grid-column: span 1;
}

.submitButton{
    grid-column: span 1;
    width: 150%;
    height: 3rem;
    background-color: #fff100;
    color: #0094d9;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
}

.third{
    background-image: url(./assets/plumbing-bg.png);
    min-height: 328px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #008CD1;
}

.third>h1{
    color: #fff100;
    margin: 4rem 0 0 5rem;
}

.third>p{
    color: white;
    margin: 1.5rem 0 0 5rem;
    font-weight: 500;
}

.fourth{
    text-align: left;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0 0 5rem;
}

.nav-items{
    width: 25%;
    margin: 1rem 0 2rem 0;
}

.btn-tab{
    color: rgb(184, 184, 184);
    background-color: white;
    height: 3.5rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.1rem;
}

.btn-tab.active{
    color: #0094d9;
    background-color: #fff100;
    transition: ease-in-out 0.3s;
}

.content>p{
    margin: 0 3rem 0 5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.content-sub{
    display: flex;
}

.BandA{
    width: 50%;
    padding-left: 5rem;
    /* border: black solid 2px; */
}

.inner-btns{
    display: flex;
}

.content-img{
    width: 50%;
    text-align: center;
}

.content{
    display: block;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.content.active{
    opacity: 1;
    height: auto;
}

.inner-btn{
    margin: 2rem 1rem 2rem 0rem;
    background-color: white;
    width: 20%;
    color: rgb(184, 184, 184);
    border: none;
    border-bottom: 3px solid transparent;
    outline: none;
    font-size: 1rem;
    font-weight: 600;  
    transition: border-bottom 0.3s, transform 0.3s;  
}

.inner-btn.active{
    color: #12487B;
    border-bottom-color: #fff100;
    transform: scale(1.1);
}

.benefit{
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s linear;;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.application{
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s linear;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.benefit.active, .application.active{
    opacity: 1;
    height: auto;
}

.benefit>div, .application>div{
    height: 5rem;
    display: flex;
}

.benefit>div>img, .application>div>img{
    width: 10%;
    margin-right: 2rem;
    object-fit: contain;
}

.benefit>div>p, .application>div>p{
    width: 90%;
}

.fifth{
    background-image: url(./assets/why-bg.png);
    background-size: contain;
    min-height: 413px;
}

.whyFinolex-container{
    padding: 80px 12px 80px 12px;
    margin: 0 60px;
}

.whyFinolex-heading{
    font-weight: 700;
    color: #0094d9;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    margin:0 0 40px 0;
}

.whyFinolex-card-container{
    display: flex;
}

.whyFinolex-card{
    width: 25%;
    padding: 0 12px;
}

.card_circle{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100px;
    border: 2px solid #0094d9;
    place-items: center;
    display: grid;
}

.gif{
    height: 40px;
    width: 40px;
    border-radius: 10%;
    object-fit: contain;
}

.card-text{
    display: flex;
    flex-direction: column;
}

.card-heading{
    font-size: 20px;
    font-weight: 600;
    color: #0094d9;
    margin-top: 15px;
    line-height: 26px;
}

.card-subtext{
    margin-top: 4px;
    font-weight: 500;
    font-size: 17px;
    color: #58595b;
    line-height: 24px;
}

.sixth{
    background-image: url(./assets/partner-bg.png);
    background-size: cover;
}

.partner-container{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    padding: 60px 0;
}

.partner-left{
    width: 40%;
}

.partner-right{
    width: 50%;
}

.partner-heading{
    font-weight: 700;
    font-size: 34px;
    color: #0094d9;
}

.partner-subtext{
    font-weight: 600;
    font-size: 17px;
    color: #0094d9;
    line-height: 24px;
}

.partner-tab{
    margin-top: 25px;
    padding-left: 20px;
    border-left: 3px solid grey;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.3s;  
}

.tab-heading{
    font-weight: 500;
    font-size: 18px;
    color: #a5a5a5;
    margin-bottom: 0;
    transition: all 0.3s ease, transform 0.3s;  
}

.tab-subtext{
    font-weight: 500;
    color: #58595b;
    font-size: 17px;
    line-height: 24px;
    margin-top: 4px;
    display: block;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;  
}

.tab-subtext.active-tab{
    opacity: 1;
    height: auto;
}

.partner-tab.active-tab{
    border-color: #0094d9;
    transition: all 0.3s linear, transform 0.3s;  
}

.tab-heading.active-tab{
    font-size: 20px;
    color: #0094d9;
    font-weight: 600;
    transform: scale(1);
}

#partner-img{
    max-width: 100%;
    max-height: 100%;
}

.seventh{
    background: #008CD1;
}

.testimonial-container{
    padding: 80px 0;
    margin: 0 60px;
}

.testimonial-heading{
    text-align: center;
}

.testimonial-heading>h1{
    margin: 15px 0;
    color: #fff100;
    font-weight: 700;
    font-size: 34px;
}

.testimonial-items{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 10px 0;
}

.video-box{
    width: 31%;
    position: relative;
}

.video-box>video{
    width: 100%;
}

.play-btn{
    background-image: url(./assets/play-button.png);
    position: absolute;
    top: 25%;
    left: 43%;
    background-position: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.video-description{
    color: white;
    margin: 10px 0 ;
    font-size: 15px;
}

.playing .play-btn{
    background-image: url(./assets/pause-button.png);
}

.faq-container{
    margin: 0 60px;
    padding: 60px 0;
}

.faq-heading{
    text-align: center;
    margin-bottom: 40px;
}

.faq-heading>h1{
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    color: #0094d9;
}

.faq-body{
    display: flex;
    justify-content: space-between;
}

.faq-body-left{
    width: 49%;
}

.faq-body-right{
    width: 49%;
}

.faq-box{
    border: 1px solid #0094d9;
    margin-bottom: 20px;
}

.faq-question{
    display: flex;
    padding: 20px 20px 15px 20px;
    cursor: pointer;
}

.faq-question>h3{
    width: 85%;
    margin: 0;
    color: #0094d9;
    font-weight: 600;
    font-size: 20px;
}

.faq-question>div{
    display: grid;
    place-items: center;
    width: 15%;
}

.faq-question>div>img{
    transition: all ease-out 0.3s;
}

.faq-answer{
    padding: 0 20px 0px 20px;
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.faq-answer>p{
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: #58595b;
    line-height: 24px;
}

.active-faq .faq-answer{
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: opacity 0.3s ease;
    padding-bottom: 15px;
}

.active-faq>.faq-question>div>img{
    transform: rotate(45deg);
    transition: all ease-out 0.3s;
}

.about-top{
    position: relative;
    height: 100%;
    background-image: url(./assets/about-bg.png);
    
}

.about-bottom{
    position: absolute;
    height: 30%;
    width: 100%;
    background-image: url(./assets/about-bg-n.png);
    background-repeat: no-repeat;
    top: 72%;
}

.about-container{
    padding-top: 40px;
    margin: 0 60px;
    text-align: center;
}

.about-container>h1{
    font-weight: 700;
    font-size: 34px;
    color: #fff100;
    margin-top: 5px;
}

.about-container>p{
    color: white;
    font-weight: 500;
    line-height: 24px;
}

.about-button{
    margin: 1rem 0 0 0;
    text-decoration: none;
    background-color: #fff100;
    width: 18rem;
    height: 4rem;
    border-style: none;
    border-radius: 3px;
    text-align: center; 
}

.about-button>a{
    text-decoration: none;
    color: #0094d9;
    font-weight: 600;
    font-size: 1rem;
}